body {
  box-sizing: border-box;
  font-family: serif;
  color: blueviolet;
}
.menu {
margin-left: 0; 
    padding-left: 0;
}
.item__menu{
   list-style-type: none;
   cursor: pointer;
}
.item__menu::before{
  display: inline-block;
  content: "»";
  margin-right: 5px;
}

.link__menu {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}
.item__menu:hover .link__menu{
   color: coral;
   border-bottom: 1px solid coral;
}
  .item__menu:hover.item__menu::before{
display: none;
}
